<div class="container">
  <div class="balloon white">
    <div class="star-red"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>

  <div class="balloon red">
    <div class="star"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>

  <div class="balloon blue">
    <div class="star"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>

  <div id="timer"></div>
  <h1>Cumpleaños del Amor de mi vida</h1>
  <div class="button-container">
    <button class="btnA" (click)="showWarning()">Aplastame ♥ Te amo</button>
  </div>
</div>

